body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.date-picker-range {
    background: #fff; 
    cursor: pointer; 
    padding: 5px 10px; 
    border: 1px solid #ccc
}

.rrd_res_row {
    display:none;
}

.rrd_scale_legend {
    display:none;
}

#graphUptime td.rrd_td_DScb {
    display:none;
}

[id^='percent_graph_'] td.rrd_td_DScb{
    display:none;
}
